{% load static %} <!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Машина часу моди</title>
    <link rel="stylesheet" href="{% static 'pages/css/style.css' %}">
</head>
<body>

    <header>
        <h1>👗 Машина Часу</h1>
        <nav>
            <a href="/">Головна</a>
            {% for y in years %}
                <a href="/era/{{ y.id }}/">{{ y.year }} рік</a>
            {% endfor %}
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <footer>
        <p>&copy; 2026 Машина часу моди. Усі права захищені️. </p>
    </footer>

</body>
</html>
<nav>
    <a href="/">Головна</a>
    <span class="nav-category">Категорії (Епохи):</span>
    {% for y in years %}
        <a href="/era/{{ y.id }}/">{{ y.year }}</a>
    {% endfor %}
</nav>